@model projeto_financeiro.Models.Pessoa.Pessoa

<div>
    <style>
        .login-box {
            width: 90%;
            margin-top: 20px;
            margin: 7%;
            box-sizing: border-box;
        }

        .login-box-body {
            background-color: darkgray;
            border-radius: 20px;
            box-shadow: initial;
            padding: 20px;
            border-top: 0;
            color: slategray;
            box-sizing: border-box;
            margin-top: 20px;
        }

        .myBackground {
            image-rendering: optimizeQuality;
            background-image: url(https://fastly.4sqi.net/img/general/600x600/69752362_BXxkBRSd6kmVBgH8wkbYAtQBAvrlA197iM1OexCly6A.jpg);
            border-radius: 60px;
        }
    </style>


    <div class="container ">
        <div class="row justify-content-center myBackground">
            <div class="text-center">
                <div class="login-box">
                    <div class="col-12">
                        <div class="login-box-body">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
                            <div>
                                <img src="~/cvi_logo.png" />
                            </div>
                            <div style="color: rgb(87, 85, 85); padding: 15px 0px 0px 0px !important">
                                <h4> Chave NFE Financeiro</h4>
                            </div>

                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        @if (TempData["mensagemErro"] != null)
                                        {

                                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                </svg>
                                                <div class="text-center">
                                                    @TempData["mensagemErro"]
                                                </div>

                                            </div>
                                        }
                                        @if (TempData["sucesso1"] != null)
                                        {
                                            <div class="alert alert-success d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">

                                                    <use xlink:href="#check-circle-fill" />
                                                </svg>
                                                <div>
                                                    <font class="text-center" style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            @TempData["sucesso1"]
                                                        </font>
                                                    </font>
                                                </div>
                                            </div>
                                        }
                                        <form asp-action="Entrar">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <div>
                                                    <input asp-for="USUARIO" type="text" id="validationCustom01" placeholder="Usuário" class="form-control" required />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input asp-for="SENHA" type="password" id="pass" placeholder="Senha" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Entrar" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a asp-action="EsqueciSenha">Esqueci minha Senha</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


